#maximal read length
max_rd_len=100
[LIB]
#average insert size
avg_ins=400
#if sequence needs to be reversed 
reverse_seq=0
#in which part(s) the reads are used
asm_flags=3
#in which order the reads are used while scaffolding
rank=1
#fasta file for read 1 
f1=Ageratina_CAGATC_L004_R1_001_prinseq_trimmed_pair.fasta
#fastq file for read 2 always follows fastq file for read 1
f2=Ageratina_CAGATC_L004_R2_001_prinseq_trimmed_pair.fasta
#fasta file for single reads
f=Ageratina_CAGATC_L004_single.fasta

